.App {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.AppContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
}

@media screen and (width > 1000px) {
  .AppContainer {
    width: 700px;
  }
}

.AppMenu {
  z-index: 1;
  background: var(--color-background);
}

.AppContent {
  flex-grow: 1;
  height: 100%;
}

.AppContent--full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
